div.enemyahead {
    position: relative;
    left: 250px;
    top: 140px;
    width: 50px;
    display: inline;
}


div.enemybehind {
    position: relative;
    left: 350px;
    bottom: 3900px;
    width: 50px;
    display: inline;
}


div.meahead {
    position: relative;
    left: 90px;
    top: 320px;
    width: 50px;
    display: inline;
}



div.mebehind {
    position: relative;
    top: 550px;
    width: 50px;
    display: inline;
}


div.goaway {
    position: relative;
    top: 1000px;
    width: 50px;
    display: inline;
}

div.heading {
    position: relative;
    top: 100px;
    width: 50px;
    display: inline;
}

#container {
    position: absolute;
    left: 90px;
    top: 320px;
}

#containermore {

    display: grid;
}

.onewhomoves {
    background: aqua;
    opacity: 50%;
}

.hoverclass:hover {
    background: red;
    opacity: 50%;
}

.el {
    filter: opacity(0.8) drop-shadow(0 0 0 red) brightness(2) saturate(2);
}

.bonespicture {
    opacity: 0.4;
}

.bonespicture2 {
    opacity: 0.4;
}

.skeletor {
    display: none;
}

.skeletor2 {
    display: none;
}



.appearnumber {
    z-index: 3;
    color: blue;
    text-align: center;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
}

#cars {
    opacity: 1;
    width: 200px;
    hight: 200px;
    font-size: large;
}

.disappiar {
display: none;
}



h1 {
    color: #f1c40f;
    font-size: 4rem;
    text-transform: uppercase;
    display: block;
    width: 100%;
    text-align: center;
}
@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }
}

p {
    color: #f1c40f;
    font-size: 1.2rem;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #e74c3c;
    border-radius: 0.6em;
    color: #e74c3c;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}
.btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
}

.first {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.first:hover {
    box-shadow: 0 0 40px 40px #e74c3c inset;
}


