div.enemyahead {
    position: relative;
    left: 250px;
    top: 140px;
    width: 50px;
    display: inline;
}


div.enemybehind {
    position: relative;
    left: 350px;
    top: 50px;
    width: 50px;
    display: inline;
}


div.meahead {
    position: relative;
    left: 90px;
    top: 320px;
    width: 50px;
    display: inline;
}



div.mebehind {
    position: relative;
    top: 550px;
    width: 50px;
    display: inline;
}


div.goaway {
    position: relative;
    top: 1000px;
    width: 50px;
    display: inline;
}

div.heading {
    position: relative;
    top: 100px;
    width: 50px;
    display: inline;
}

#container {
    position: absolute;
    left: 90px;
    top: 320px;
}

#containermore {

    display: grid;
}

.onewhomoves {
    background: aqua;
    opacity: 50%;
}

.hoverclass:hover {
    background: red;
    opacity: 50%;
}

.el {
    filter: opacity(0.8) drop-shadow(0 0 0 red) brightness(2) saturate(2);
}

.appearnumber {
    z-index: 3;
    color: blue;
    text-align: center;
    margin-top: 50px;
}

#cars {
    opacity: 1;
    width: 200px;
    hight: 200px;
    font-size: large;
}

.disappiar {
display: none;
}


